/* =========================
    VARIABLES & MIXINS
   =========================
*/
.text-shadow {
  text-shadow: -1px 1px 0 #000000;
}
.transition {
  -webkit-transition: all .5ms ease;
  -moz-transition: all .5ms ease;
  -ms-transition: all .5ms ease;
  -o-transition: all .5ms ease;
  transition: all .5ms ease;
}
/* =========================
    GENERAL STYLES
   =========================
*/
body {
  background: #000000 url('../../img/static-video-bg.jpg') no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}
/* =========================
    HEADER STYLES
   =========================
*/
#big-video-wrap {
  position: fixed;
  left: 0;
}
header {
  padding: 2rem 0;
}
.container {
  position: relative;
  z-index: 9;
}
.toggle-btn {
  display: block;
}
.toggle-btn input[type="checkbox"] {
  padding: 2em;
}
.toggle-btn label {
  color: white;
  font-size: 1em;
}
/* =========================
    NAV STYLES
   =========================
*/
section.main-nav-header {
  margin-top: 4rem;
}
nav.main-nav-desk ul {
  list-style: none;
  margin-top: 3rem;
}
nav.main-nav-desk ul li {
  display: inline;
  font-size: 2.5rem;
}
nav.main-nav-desk ul li a {
  padding: 0 1rem;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all .5ms ease;
  -moz-transition: all .5ms ease;
  -ms-transition: all .5ms ease;
  -o-transition: all .5ms ease;
  transition: all .5ms ease;
}
nav.main-nav-desk ul li a:hover {
  color: #1a4298;
  text-decoration: none;
}
section.main-cta {
  margin-top: 5%;
}
section.main-cta h1 {
  font-size: 3.4375rem;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  color: white;
  position: relative;
  line-height: 5rem;
}
@media (max-width: 767px) {
  section.main-cta h1 {
    /* ----- EXTRA SMALL DEVICE */
    font-size: 2.5rem;
  }
}
section.main-cta h1:before {
  content: url('../../img/cta-divider.png');
  width: 500px;
  height: 25px;
  position: absolute;
  top: 30%;
  left: 35.5%;
  display: block;
}
@media (max-width: 767px) {
  section.main-cta h1:before {
    /* ----- EXTRA SMALL DEVICE */
    content: url('../../img/cta-divider-sm.png');
    width: 100px;
    height: 100px;
    position: absolute;
    top: 11%;
    left: 37%;
  }
}
section.main-cta h1 span.cta {
  font-family: 'Droid Sans', sans-serif;
  color: white;
  font-size: 4rem;
  font-style: italic;
}
section.main-cta p {
  margin-top: 25%;
}
/* =========================
    MAIN CONTENT STYLES
   =========================
*/
/* =========================
    FOOTER STYLES
   =========================
*/
/* =========================
    TYPOGRAPHY OVERRIDES
   =========================
*/
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
p,
li,
a {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
}
/* =========================
    MEDIA QUERIES
   =========================
*/
/* Extra small devices (smartphones, 640px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 1023px and up) */
/* Large devices (desktops, 1281px and up) */
/* Extra large devices (desktops, 1600px and up) */
